
// PWA styles for install button
.hidden {
  // display: none !important;
}

#installContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #7f38fb;
}

.install {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    color: white;
    align-items: center;
  }

  &-btn {
    cursor: pointer;
    height: 40px;
    background-color: white;
    border: 1px solid white;
    color: #5600e9;
    font-size: 1em;
    font-weight: 500;
    padding: 0px 24px;
    border-radius: 32px;
  }
}
